.___slider{
  display: flex;
  align-items: center;
}

.___track{
  background-color: #f2f2f2;
  height: 30px ;
  border: 1px solid #dedede;
  border-radius: 4px;
}

.___track-1, .___track-2{
  background-color: #CDE1F5;
  border-color: #6CB2F5;
}

.___thumb{
  height: 40px;
  width: 20px;
  background-color: white;
  border: 1px solid #999;
  border-radius: 4px;
}

.___thumb::after{
  content: '|';
  width: 100%;
  text-align: center;
  display: block;
  color: #999;
  margin-top: 6px;
}

.___thumb-1{
  background-color: black;
  width: 5px;
  height: 30px;
}

.___thumb-1::after{
  display: none;
}

.___mark{
  border-left:  1px solid #666;
  height: 5px;
  margin-top: 25px;
}

.___mark span{
  font-size: 12px;
  position: relative;
  bottom: 22px;
  right: 4px;
}